body {
  min-height: 100vh;
  font-size: larger;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 60% 40%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
#c-pwd-shown,
#pwd-show {
  font-size: 0.7em;
  color: white;
}

i,
label#gender {
  color: grey;
  margin-right: 5px;
}
input[type="submit"] {
  color: white;
  background: blue;
  font-size: larger;
  display: grid;
  margin: auto;
  padding: 3px 30px;
  border: 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0;
  background-color: rgba(255, 255, 255);
  border-radius: 4px;
  padding: 0.4em 0.5em;
  outline: solid #ccc 0.6px;
  margin-bottom: 15px;
  font-size: 0.9em;
}
.register_field,
.login_field {
  margin: 10px;
}

#goto-signup-page {
  margin-top: 15px;
}
#goto-signup-page a {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 20px;
  padding: 8px;
}
/* #forgot-pwd {
  color: #ccc;
} */
.login-form-error {
  font-size: 12pt;
  color: red;
  margin: 4px;
}
#sign-up-div,
#sign-in-div {
  display: grid;
  place-content: center;
  padding: 5px;
  background-color: #eee;
}

@media (200px <= width <= 768px) {
  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
}
