body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: url("../image/alex-knight-2EJCSULRwC8-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position-x: right;
  /* background:rebeccapurple; */
  /* object-fit: fill; */
  background-attachment: scroll;
  /* background-size: cover; */
  /* background-repeat: repeat; */
  font-size: larger;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  /* backdrop-filter: blur(2px); */
margin-left: 10px;
margin-right: 10px;
  padding: 0.5em 2em;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 15px 2px rgb(1, 17, 1);
}
i,
label#gender {
  color: #ffffff;
  margin-right: 5px;
}
input[type="submit"] {
  color: white;
  background: #222;
  display: grid;
  margin: auto;
  padding: 3px 20px;
  border-radius: 4px;
}
.container h3 {
  text-align: center;
  color: whitesmoke;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 0.3em;
  outline: none;
}
.register_field,
.login_field {
  margin: 10px;
}
#pwd-show {
  font-size: 0.7em;
}
#account-success,
#account-curve {
  color: white;
  text-align: center;
  padding: 0.4em;
  background: #222;
  border-radius: 10px 10px 0 0;
  margin-left: 10px;
  margin-right: 10px;
}

#goto-signup-page {
  color: #ccc;
}
#goto-signup-page a {
  color: whitesmoke;
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}
#forgot-pwd {
  color: grey;
}
<<<<<<< HEAD

@media (200px <= width <= 768px) {
=======
/*
@media (width > 768px) {
>>>>>>> 9658db47f61adbdcf4012f6d1a857a2d1d10a2e6
  body{

  }
}
@media (width > 768px) {
  body {
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    background-origin: padding-box;
  }
<<<<<<< HEAD
}
=======
}*/
>>>>>>> 9658db47f61adbdcf4012f6d1a857a2d1d10a2e6
