body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
#user-image {
  border-radius: 100%;
  margin: 6px;
  float: left;
  width: clamp(50px, 33vw, 70px);
  height: clamp(50px, calc(32vw - 4px), 70px);
}
.container {
  position: sticky;
  top: 2.18em;
  padding-block: 1em 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 8px 0.5px #ccc;
}
button,
.question-options-container a,
#edit-and-post a {
  margin: auto;
  border: none;
  margin-top: 3px;
  padding: 2px 6px;
  border-radius: 4px;
}
.question-card {
  margin: 35px;
}
.question-title h3 {
  margin: 10px;
}
.question-title,
.question-body {
  margin: 6px;
  padding: 0.3rem;
}
.question-title {
  background: linear-gradient(45deg, blue, #222, #555);
  color: white;
  word-wrap: break-word;
}
.question-body {
  box-shadow: 0 3px 10px 0.3px #bbb;
  border-radius: 0 0 9px 9px;
  border-top: none;
  margin-bottom: 1rem;
}
.question-body p {
  margin: 10px;
  display: -webkit-box;
  /*  font-size: calc(14pt);*/
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space: pre-wrap; /* Preserve white space */
  word-wrap: break-word; /* Break long words */
  -webkit-line-clamp: 7;
  min-height: 3em;
}
a {
  text-decoration: none;
}
#edit-and-post a {
  margin-top: 5px;
  background: blue;
  color: white;
}
.question-options-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.question-options-container a:nth-child(2) {
  color: #666;
  border: #ccc solid 1px;
}
.question-options-container a:nth-child(3) {
  background-color: green;
}
.question-options-container .delete-question-btn {
  background-color: red;
  color: whitesmoke;
  margin: 0;
}
.question-options-container a {
  color: whitesmoke;
  margin: 0 5px;
}
.lkes-and-comments-container {
  margin-left: 15px;
}
.delete-yes-btn {
  background: blue;
}
.post-ids {
  display: none;
}
.container p {
  margin: 8px 0 0 0;
}
/* Delete.modal container */
.modal-container {
  position: fixed;
  inset: 0;
  background-color: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(1px);
  display: none;
  place-content: center;
  user-select: none;
}
.modal p {
  color: white;
  margin-bottom: 0;
}
.modal button {
  font-size: large;
  padding: 5px;
  margin-left: 20px;
}
.modal {
  background: #222;
  width: clamp(200px, 300px, 400px);
  height: 150px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 16pt;
  transition-duration: 3s;
}
.modal-container:active .modal {
  transform: scaleX(1.2);
  transition: all 1s ease-in-out;
}
.fa-thumbs-up {
  color: blue;
}
.post-imgs-div {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1px;
}
.post-imgs {
  width: 99%;
  height: 99%;
}
.post-imgs-div {
  margin-bottom: 10px;
  position: relative;
  z-index: -1;
}
.image-remain h2 {
  font-family: "Courier New", Courier, monospace;
}
.image-remain {
  position: absolute;
  display: grid;
  place-content: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #ccc;
  inset: 0 2.699px 1px 66.74%;
}
.post-imgs-div {
  margin-bottom: 10px;
  position: relative;
  z-index: -1;
}
.image-remain h2 {
  font-family: "Courier New", Courier, monospace;
}
.image-remain {
  position: absolute;
  display: grid;
  place-content: center;
  background-color: rgba(50, 50, 50, 0.7);
  color: #ccc;
  inset: 0 2.699px 1px 66.74%;
}
@media (200px <= width <= 768px) {
  .question-card {
    margin: 35px 10px;
  }
  .container {
    top: 1.6em;
  }
  .post-imgs-div {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}
@media (width > 768px) {
  .modal {
    background: #222;
    width: clamp(300px, 350px, 400px);
    height: 150px;
  }
}
