body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
}
#user-image {
  border-radius: 100%;
  margin: 6px;
  float: left;
  width: clamp(50px, 33vw, 70px);
  height: clamp(50px, calc(32vw - 4px), 70px);
}

.container {
  position: sticky;
  top: 2.18em;
  padding-block: 1em 40px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  box-shadow: 0 1px 8px 0.5px #ccc;
}

button,
#question-options-container a,
#edit-and-post a {
  margin: auto;
  border: none;
  margin-top: 3px;
  padding: 2px 6px;
  border-radius: 4px;
}

.question-card {
  margin: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-direction: column;
}

.question-title h3 {
  margin: 10px;
}
.question-title,
.question-body {
  margin: 6px;
  padding: 0.3rem;
}
.question-title {
  background: linear-gradient(45deg, blue, #222, #555);
  color: white;
  word-wrap: break-word;
}
.question-body {
  box-shadow: 0 3px 10px 0.3px #bbb;
  border-radius: 0 0 9px 9px;
  height: 250px;
  border-top: none;
  margin-bottom: 1rem;
}
.question-body p {
  margin: 10px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  white-space-collapse: break-spaces;
  -webkit-line-clamp: 7;
  min-height: 3em;
}

#edit-and-post {
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  justify-content: left;
}
a {
  text-decoration: none;
}
#edit-and-post a {
  color: white;
}

#edit-and-post a:nth-child(1) {
  text-decoration: none;
  border-radius: 0;
  margin-top: 10px;
  background: blue;
}
#question-options-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#question-options-container a:nth-child(2) {
  /* background-color: rgb(38, 29, 29); */
  /* color: rgb(255, 255, 241); */
  color: #333;
  border: #333 solid 1px;
}
#question-options-container a:nth-child(3) {
  background-color: green;
}

#question-options-container a:nth-child(4) {
  background-color: red;
}
#question-options-container a {
  color: whitesmoke;
}

#lkes-and-comments-container {
  margin-left: 15px;
  color: blue;
}
#delete-yes-btn {
  background: blue;
  color: red;
}


.post-ids {
  display: none;
}
.container p {
  margin: 8px 0 0 0;
}
#computer-fact-div {
  width: 400px;
  height: 400px;
  background: #ccc;
  margin: 20px;
  padding: 10px;
  border-radius: 4px;
  margin: auto;
}
.mypost-main {
  display: grid;
}

/* Delete modal container */
#modal-container {
  position: absolute;
  inset: 0;
  background-color: rgba(50, 50, 50, 0.4);
  backdrop-filter: blur(1px);
  display: none;
  place-content: center;
}
#modal #delete-yes-btn a {
  color: black;
}
#modal p {
  color: white;
  margin-bottom: 0;
}
#modal button {
  font-size: large;
  padding: 5px;
  margin-left: 20px;
}
#modal {
  background: #222;
  width: clamp(300px, 450px, 500px);
  height: 150px;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 16pt;
  transition-duration: 3s;
}

#modal-container:active #modal {
  transform: scaleX(1.2);
  transition: all 1s ease-in-out;
}

@media (200px <= width <= 768px) {
  .mypost-main {
    grid-auto-flow: row;
  }
}

@media (width > 768px) {
  .mypost-main {
    grid-auto-flow: column;
  }
}
