body {
  margin: 0;
  padding: 0;
}

#new-post,
#edit-post {
  padding: 0.6em;
}
#post_title{
  border: 0;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 99%;
  margin-bottom: 10px;
}
#post-area,
#edit-post-area {
  outline: none;
  border: 0;
  border-left: 3px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 5px;
  width: 99%;
}

h1 {
  margin: 0;
  margin-bottom: 5px;
  text-align: center;
}
#post-btn-div {
  display: grid;
  justify-content: center;
}
#post-btn,
#edit-post-btn {
  color: white;
  background: #005bc5;
  border: 0;
  padding: 5px 50px;
  margin-top: 10px;
  font-size: clamp(20px, calc(15px), 40px);
}
#post-images {
  display: none;
}
