#read-post-container {
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

article p {
  word-wrap: break-word;
  padding: 0 5px;
  white-space: pre-wrap; /* Preserve white space */
}
#comments-container {
  margin: 10px;
  margin-bottom: 5em;
}
#comment-div {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

#reply-div {
  display: flex;
  margin-left: 3em;
  flex-direction: row;
  gap: 10px;
}
#user-img,
#comment_author-img,
#reply_author-img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#comment-div p {
  margin: 0 0 5px 0;
  white-space: pre-wrap; /* Preserve white space */
  word-wrap: break-word; /* Break long words */
}
section h3 {
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-underline-offset: 8px;
}
.reply_author-comments p {
  margin: 0;
}
.user-comments p,
.comment_author-comments p,
.reply_author-comments p {
  padding-block-start: 5px;
}

.user-comments,
.comment_author-comments,
.reply_author-comments {
  margin-bottom: 5px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgba(210, 210, 210, 0.5);
}
.comment-box-form .cmt-txt-area {
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 98%;
  outline: solid 1px #ccc;
  position: relative;
  margin-bottom: -10px;
}
.comment-box-form {
  position: fixed;
  bottom: 10px;
  padding: 0 20px;
  margin-left: -12px;
  width: 98%;
}
#submit-comment {
  display: none;
}
#submit-comment-label {
  background-color: blue;
  padding: 6px;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  top: 12px;
}
a {
  text-decoration: none;
}
#comment-options,
#comment-options-2 {
  margin-bottom: 10px;
  margin-left: 3.5em;
  display: flex;
  gap: 10px;
}
.reply-count {
  margin: 0;
  margin-left: 3.2em;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}
#comment-options-2 {
  margin-left: 6.4em;
}
#submit-like {
  display: none;
}
#lkes-and-comments-container {
  display: flex;
  gap: 1em;
}
.post-write-up {
  word-break: break-all;
}

#preview-image img {
  z-index: 2;
  width: 100%;
  height: 80%;
  display: grid;
  margin: auto;
}
.post-imgs-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2px;
}
.post-imgs {
  width: 100%;
  height: 100%;
}
.post-imgs-div {
  margin-bottom: 10px;
}
#prev-next i:hover {
  opacity: 1;
  transition: opacity 1s linear;
}

#preview-image #back-arrow {
  position: fixed;
  top: 5%;
  left: 10px;
  font-size: 20px;
  background-color: blue;
  color: white;
  padding: 5px;
  z-index: 0;
}
#preview-image {
  position: fixed;
  inset: 0;
  background: black;
  display: none;
  place-content: center;
  z-index: 1;
}

#prev-next i {
  opacity: 0.5;
  font-size: 2.5em;
  color: blue;
  text-shadow: 0 2px 1px blue;
}
#prev-next {
  display: flex;
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  justify-content: space-between;
}
#share-container h1 {
  padding: 3px;
  margin: 0;
  margin-bottom: 10px;
  color: grey;
}
#share-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}
#share-container .fa-telegram {
  color: #05f;
}
#share-container .fa-whatsapp {
  color: green;
}
#share-container a {
  display: grid;
  font-size: 1.9em;
}
#share-container p {
  margin: 12px 0;
  color: black;
  font-size: 1.4em;
}
#share-container {
  text-align: center;
  position: fixed;
  inset: 0;
  top: 60%;
  background: white;
  margin: 0 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px black;
  z-index: 1;
  display: none;
}
#share-container a span {
  font-size: 14pt;
  color: black;
}

#share-outer-div {
  position: fixed;
  inset: 0;
  background-color: rgba(30, 30, 30, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: none;
}
#share-container a span {
  font-size: 14pt;
  color: black;
}

#share-outer-div {
  position: fixed;
  inset: 0;
  background-color: rgba(30, 30, 30, 0.3);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: none;
}

.img-container {
  padding: 25px 0 20px 0;
}

.img-container img {
  border-radius: 100%;
  margin-top: -20px;
  width: clamp(80px, 80px, 90px);
  float: left;
  height: clamp(80px, 80px, 90px);
  margin-right: 8px;
}
.reply-link, .edit-link{
  color: grey;
}
@media (200px <= width <= 768px) {
  #read-post-container h2 {
    top: 30px;
  }
  #submit-comment-label {
    right: 38px;
  }
}
@media (width > 768px) {
  #read-post-container h2 {
    top: 48px;
  }
  #preview-image img {
    width: 70%;
    height: 90%;
  }
  #prev-next {
    left: 80px;
    right: 80px;
  }
  #share-container {
    margin: 0 30px;
  }
  article{
    margin: 20px;
  }
}
