#read-post-container {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
#read-post-container h2 {
  position: sticky;
  background-color: white;
  top: 33px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  /* box-shadow: 0 0 12px 2px #ccc; */
  box-sizing: content-box;
  padding: 5px;
}
article p {
  /* font-size: calc(14pt + 2px); */
  word-wrap: break-word;
  white-space-collapse: break-spaces;
}
#comments-container {
  margin: 10px;
  margin-bottom: 5em;
}

#comment-div {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}

#user-img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
#comment-div p {
  margin: 0 0 5px 0;
  white-space-collapse: break-spaces;
  word-wrap: break-word;
}
section h3 {
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-underline-offset: 8px;
}

#comment-div strong {
  color: blue;
}
.user-comments {
  margin-bottom: 5px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: rgba(210, 210, 210, 0.5);
}

.comment-box-form .cmt-txt-area {
  font-size: 14pt;
  border: solid 1px #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 98%;
  outline: solid 1px #ccc;
  position: relative;
  margin-bottom: -10px;
}

.comment-box-form {
  position: fixed;
  bottom: 10px;
  padding: 0 20px;
  margin-left: -12px;
  width: 98%;
}
#submit-comment {
  display: none;
}
#submit-comment-label {
  background-color: blue;
  padding: 6px;
  color: white;
  border-radius: 10px;
  position: absolute;
  right: 50px;
  top: 12px;
}
a {
  text-decoration: none;
}
#comment-options {
  margin-bottom: 10px;
  margin-left: 3em;
  display: flex;
  gap: 10px;
}

#like-btn {
  display: none;
}
#lkes-and-comments-container {
  display: flex;
  gap: 1em;
}
.jssocials-share-link {
  font-size: 0.6em;
  margin-top: 10px;
}
#post-comment {
  word-break: break-all;
}

@media (200px <= width <= 768px) {
  #submit-comment-label {
    right: 38px;
  }
  #comment-div p, article p {
    font-size: calc(14pt);
  }
}

@media (width > 768px) {
  #read-post-container h1 {
    top: 48px;
  }
  article p, #comment-div p {
    font-size: calc(14pt + 2px);
  }
}

