{% extends "layout.html" %}{% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/layout.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/edit_comment.css?{{cache_id}}" rel="stylesheet" />
<form action="{{url_for('edit_reply', reply_id=reply_id)}}" method="post">
    <div class="comment-box-form">
    {{edit.hidden_tag()}}
    {{edit.edit_comment}}<br>
    {{edit.submit_edit_btn}}
</div>
</form>
{% endblock content %}
