{% extends "layout.html" %} {% block content %}
<link href="../static/styles/landing_page.css" rel="stylesheet" />
{% if not sign_in_up %}
<script>
  let activeNav = $("nav .nav-link li");
  $(activeNav[3]).css("background", "#005bc5");
  $(activeNav[3]).css("color", "white");
</script>
{% endif %}
<script type="text/javascript" src="../static/scripts/landing_page.js"></script>
<main>
  <section class="introducing-talkIT-section talkit">
    <img
      class="img-1"
      src="../static/image/talk-IT-computer-app.png"
      alt="section1-img"
    />
    <div>
      <h1>Welcome to TalkIT: Your Mini Social Platform for Tech Enthusiasts</h1>
      <p>
        Are you a developer, coder, or tech enthusiast looking for a platform to
        share your insights, knowledge, or even tech-related jokes? Look no
        further! TalkIT is here to provide you with a vibrant community where
        you can connect with like-minded individuals, engage in meaningful
        discussions, and explore the fascinating world of technology together.
      </p>
    </div>
  </section>

  <section class="section-2 talkit">
    <img
      class="img-2"
      src="../static/image/talk-IT-read-page.png"
      alt="section2-img"
    />
    <div>
      <h1>Why TalkIT?</h1>
      <p>
        At TalkIT, we understand the importance of community and collaboration
        in the tech industry. Whether you're a seasoned developer or just
        starting your journey, TalkIT offers a welcoming space where you can:
        Share your latest projects, ideas, and discoveries with a supportive
        community. Explore a wide range of tech topics, from programming
        languages and frameworks to software development methodologies and
        industry trends. Spark discussions, ask questions, and seek advice from
        experienced professionals and fellow enthusiasts. Have fun and lighten
        the mood with tech-related jokes, memes, and anecdotes.
      </p>
    </div>
  </section>

  <section class="section-3 talkit">
    <img
      class="img-3"
      src="../static/image/talk-IT-laptop-profile.png"
      alt="section3-img"
    />
    <div>
      <h1>Features</h1>
      <p>
        TalkIT comes packed with features designed to enhance your social
        experience:
        <strong>Post:</strong> Share your thoughts, insights, and jokes with the
        community through posts.
        <strong>Comment:</strong> Engage with others by commenting on their posts and providing feedback or insights.
        <strong>Reply:</strong> Keep the conversation going by replying to
        comments and engaging in discussions.
        <strong>Explore:</strong> Discover new posts, trending topics, and popular discussions across the platform.
      </p>
    </div>
  </section>

  <section class="section-4 talkit">
    <div>
      <h1>Join the TalkIT Community Today</h1>
      <p>
        Ready to join the conversation? Sign up for free and become part of the
        TalkIT community today! Whether you're here to learn, share, or simply
        connect with fellow tech enthusiasts, TalkIT welcomes you with open
        arms. Let's talk tech, share ideas, and inspire each other to reach new
        heights in the exciting world of technology. Together, we can make
        TalkIT the ultimate destination for tech enthusiasts worldwide.
      </p>
      <a
        href="{{url_for('register')}}"
        target="_parent"
        >Get Started</a
      >
    </div>
  </section>
</main>
<footer>
  <h3><i class="fa-brands fa-teamspeak" aria-hidden="true"></i> TalkIT</h3>
  <a href="/developer"
    ><i class="fa fa-code" aria-hidden="true"></i> Developer</a
  >
</footer>
{% endblock content %}
