{% extends "layout.html" %} {% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<script
  type="module"
  src="../static/scripts/my_post.js?{{cache_id}}"
  defer
></script>
<div class="container">
  <div class="img-container">
    <img
      id="user-image"
      src="data:image/{{jpg}};base64,{{ user.image }}"
      alt="{{info.username}}{{cache_id}}"
    />
    <strong class'user-username'>{{info.username}}</strong>
  </div>
  <div id="edit-and-post">
    <a href="{{url_for('post') }}">New post</a>
  </div>
</div>

<div class="post-card">
  {% if posts %} {% for post in posts%}
  <div class="post-container">
    <!-- Title -->
    <div class="post-title">
      <h3>{{ post.title }}</h3>
    </div>
    <!-- === -->

    <!-- Post Body -->
    <div class="post-body">
      <!-- Options -->
      <div class="post-options-container">
        <span>{{time_created[loop.index - 1]}}</span>
        <!-- Read a post -->
        <a
          href="{{url_for('read_post', post_id=post.id)}}"
          title="Read More"
          ><i class="fab fa-readme" aria-hidden="true"></i>
        </a>
        <!-- Edit a post -->
        <a href="{{ url_for('edit', post_id=post.id)}}" title="Edit"
          ><i class="fa fa-edit" aria-hidden="true"></i
        ></a>
        <!-- Delete post -->
        <button href="" class="delete-post-btn" onclick="return false;">
          <i class="fa fa-remove" aria-hidden="true"></i>
        </button>
        <div class="modal-container">
          <div class="modal">
            <p>Are you sure about deleting this post?</p>
            <div>
              <button type="button" class="delete-yes-btn">
                <a
                  href="{{ url_for('delete_post', post_id=post.id)}}"
                  class="del-link"
                  >Yes</a
                >
              </button>
              <button type="button" class="del-no-btn">No</button>
            </div>
          </div>
        </div>
        <!-- ======== -->
      </div>
      <!-- ======== -->

      <!-- Post images container -->
      <p class='post-write-up'>{{ post.post }}</p>
      {% if post.post_images %}
      <div class="post-imgs-div">
        {% for image in post.post_images %}
        <img
          src="{{url_for('statici', filename=image)}}"
          alt="{{image}}"
          class="post-imgs"
        />
        {% endfor %}
      </div>
      {% endif %}
      <!-- ===== -->

      <!-- Likes and comments -->
      <div class="lkes-and-comments-container">
        <span
          ><i class="far fa-thumbs-up" aria-hidden="true"></i>
          <span>{{post.likes}} {% if post.likes > 1%} Likes {%else %} Like {% endif %}</span>
            </span
        >
      </div>
      <!-- ======== -->
    </div>
  </div>
  {%endfor %} {%else%}
  <div><em>No post.</em></div>
  {% endif %} {% endblock content %}
</div>
