{% extends "layout.html" %} {% block content %}
<link href="../static/styles/new_post.css?{{cache_id}}" rel="stylesheet" />
<script>
  $(document).ready(function () {
    $.each($(".post_images"), function (idx, img) {
      img.addEventListener("change", () => {
        let imgLength = img.files.length;
        $("#post-img-length").text(
          `| ${imgLength} ${imgLength > 1 ? "images" : "image"} added`
        );
      });
    });
  });
</script>
<div id="new-post">
  <h1>Make a new post</h1>
  <form
    action="{{url_for('post')}}"
    method="post"
    id="make_post"
    enctype="multipart/form-data"
  >
    {{ post.hidden_tag() }}
    <div>{{ post.post }}</div>
    <label for="post-images"
      ><i class="fas fa-camera" aria-hidden="true"></i> Add image</label
    >
    <em id="post-img-length"></em>
    <div>{{ post.post_images }}</div>
    {% if post.errors.post_images %}
    <p><strong style="color: red;">Error: </strong>{{post.errors.post_images[1]}}</p>
    {% endif %}
    <div id="post-btn-div">{{ post.submit_post }}</div>
  </form>
</div>
{% endblock %}
