{% extends "layout.html" %} {% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/new_feed.css?{{cache_id}}" rel="stylesheet" />
<script src="../static/scripts/jquery-3.7.1.min.js"></script>
<script>
  let activeNav = $("nav .nav-link li");
  $(activeNav[0]).css("background", "blue");
  $(activeNav[0]).css("color", "white");
</script>
<script type="module">
  import { shortenPostImages } from "../static/scripts/common.js";
  $(document).ready(function () {
    shortenPostImages();
  });
</script>
<div class="container">
  <div class="img-container">
    <img
      id="user-image"
      src="data:image/{{user.image_fmt}};base64,{{ user.image }}"
      alt="{{user.username}}{{cache_id}}"
    />
    <p><strong>{{user.username}}</strong></p>
  </div>
  <div id="edit-and-post">
    <a href="{{url_for('ask_question') }}">New post</a>
  </div>
</div>

<div class="question-card">
  {% if questions %} {% for (question, user) in questions %}
  <div class="'question-container">
    <div class="question-title"><h3>{{ question.title }}</h3></div>
    <div class="question-body">
      <img
        id="new-feed-user-image"
        src="data:image/jpg;base64,{{ user.image}}"
        alt="{{user.username}}{{cache_id}}"
      /><br />
      <a
        href="{{url_for('other_user_profile', other_user_username=user.username)}}"
        ><strong>{{user.username}}</strong><br
      /></a>
      <small>{{time_created[loop.index - 1]}}</small>
      <div class="question-options-container">
        <a
          href="{{url_for('read_post', question_id=question.id)}}"
          title="Read More"
          ><i class="fab fa-readme" aria-hidden="true"></i
        ></a>
      </div>
      <p>{{ question.question }}</p>
      <!-- Post images container -->
      {% if question.post_images %}
      <div class="post-imgs-div">
        {% for image in question.post_images %}
        <img
          src="{{url_for('static', filename=image)}}"
          alt="{{image}}"
          class="post-imgs"
        />
        {% endfor %}
      </div>
      {% endif %}
      <!-- ===== -->
      <div class="lkes-and-comments-container">
        <span
          ><i
            class="far fa-thumbs-up"
            aria-hidden="true"
            style="color: blue"
            ;
          ></i> 
          {{question.likes}} {% if question.likes > 1%} Likes {%else %} Like {%
          endif %}</span
        >
      </div>
    </div>
  </div>
  {%endfor %} {%else%}
  <div><em>No post.</em></div>
  {% endif %}
</div>
{% endblock content %}
