{% extends "layout.html" %} {% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/new_feed.css?{{cache_id}}" rel="stylesheet" />
<script src="../static/scripts/jquery-3.7.1.min.js"></script>
<script>
  let activeNav = $("nav .nav-link li");
  $(activeNav[0]).css("background", "#005bc5");
  $(activeNav[0]).css("color", "white");
</script>
<script type="module">
  import { shortenPostImages } from "../static/scripts/common.js";
  $(document).ready(function () {
    shortenPostImages();
  });
</script>
<div class="container">
  <div class="img-container">
    <img
      id="user-image"
      src="data:image/{{user.image_fmt}};base64,{{ user.image }}"
      alt="{{user.username}}{{cache_id}}"
    />
    <p><strong>{{user.username}}</strong></p>
  </div>
  <div id="edit-and-post">
    <a href="{{url_for('post') }}">New post</a>
  </div>
</div>

<div class="post-card">
  {% if posts %} {% for (post, user) in posts %}
  <div class="'post-container">
    <div class="post-title"><h3>{{ post.title }}</h3></div>
    <div class="post-body">
      <img
        id="new-feed-user-image"
        src="data:image/jpg;base64,{{ user.image}}"
        alt="{{user.username}}{{cache_id}}"
      /><br />
      <a
        href="{{url_for('other_user_profile', other_user_username=user.username)}}"
        ><strong class="user-username">{{user.username}}</strong><br
      /></a>
      <div class="post-options-container">
        <span>{{post.to_dict()['created_at_time']}}</span>
        <a href="{{url_for('read_post', post_id=post.id)}}" title="Read More"
          ><i class="fab fa-readme" aria-hidden="true"></i
        ></a>
      </div>
      <p class="post-write-up">{{ post.post }}</p>
      <!-- Post images container -->
      {% if post.post_images %}
      <div class="post-imgs-div">
        {% for image in post.post_images %}
        <img
          src="{{url_for('static', filename=image)}}"
          alt="{{image}}"
          class="post-imgs"
        />
        {% endfor %}
      </div>
      {% endif %}
      <!-- ===== -->
      <!-- Likes and comments -->
      {% if total_like[loop.index - 1] > 0 %}
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
      {{total_like[loop.index - 1]}} {%endif%}
      <!-- ======== -->
    </div>
  </div>
  {%endfor %} {%else%}
  <div><em>No post.</em></div>
  {% endif %}
</div>
{% endblock content %}
