{% extends "layout.html" %} {% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/profile.css?{{cache_id}}" rel="stylesheet" />
{% if other_u_username %}
<script>
  let activeNav = $("nav .nav-link li");
  $(activeNav[4]).css("background", "blue");
  $(activeNav[4]).css("color", "white");
</script>
{% endif %}
<script type="module" defer="defer">
  import { shortenPostImages } from "../static/scripts/common.js";
  $(document).ready(function () {
    shortenPostImages();
  });
</script>
<div class="user-profile other-user-profile">
  <img
    src="data:image/{{user.image_fmt}};base64,{{user.image}}"
    alt="user-image{{cache_id}}"
    id="user-image"
  />
  <p>Full Name: <strong>{{user.full_name}}</strong></p>
  <p>Username: <strong>{{user.username}}</strong></p>
  <p>Email: <strong>{{user.email}}</strong></p>
  <p>Gender: <strong>{{user.gender}}</strong></p>
</div>

<div class="question-card">
  {% if questions %} {% for question in questions%}
  <div class="question-container">
    <!-- Title -->
    <div class="question-title">
      <h3>{{ question.title }}</h3>
    </div>
    <!-- === -->

    <!-- Post Body -->
    <div class="question-body">
      <!-- Options -->
      <div class="question-options-container">
        <small>{{time_created[loop.index - 1]}}</small>
        <!-- Read a post -->
        <a
          href="{{url_for('read_post', question_id=question.id)}}"
          title="Read More"
          ><i class="fab fa-readme" aria-hidden="true"></i>
        </a>
      </div>
      <!-- ======== -->

      <!-- Post images container -->
      <p>{{ question.question }}</p>
      {% if question.post_images %}
      <div class="post-imgs-div">
        {% for image in question.post_images %}
        <img
          src="{{url_for('static', filename=image)}}"
          alt="{{image}}"
          class="post-imgs"
        />
        {% endfor %}
      </div>
      {% endif %}
      <!-- ===== -->

      <!-- Likes and comments -->
      <div class="lkes-and-comments-container">
        <span
          ><i class="far fa-thumbs-up" aria-hidden="true"></i>
          {{question.likes}}</span
        >
      </div>
      <!-- ======== -->
    </div>
  </div>
  {%endfor %} {%else%}
  <div><em>No post.</em></div>
  {% endif %} {% endblock content %}
</div>
