{% extends "layout.html" %} {% block content %}
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/profile.css?{{cache_id}}" rel="stylesheet" />
{% if other_u_username %}
<script>
  let activeNav = $("nav .nav-link li");
  $(activeNav[4]).css("background", "blue");
  $(activeNav[4]).css("color", "white");
</script>
{% endif %}
<script type="module" defer="defer">
  import { shortenPostImages } from "../static/scripts/common.js";
  $(document).ready(function () {
    shortenPostImages();
  });
</script>
<div class="user-profile other-user-profile">
  <img
    src="data:image/{{user.image_fmt}};base64,{{user.image}}"
    alt="user-image{{cache_id}}"
    id="user-image"
    class="preview"
  />
  <strong style="text-align: center; padding-top: 6px;">{{user.username}}</strong>
  <p>{%if not user.bio %}No bio. {%else%} {{user.bio}}{%endif%}</p>
  <button type="button" id='view-user-profile'>View Profile</button>
</div>

<div class="post-card">
  {% if posts %} {% for post in posts%}
  <div class="post-container">
    <!-- Title -->
    <div class="post-title">
      <h3>{{ post.title }}</h3>
    </div>
    <!-- === -->

    <!-- Post Body -->
    <div class="post-body">
      <!-- Options -->
      <div class="post-options-container">
        <span>{{post['created_at_time']}}</span>
        <!-- Read a post -->
        <a href="{{url_for('read_post', post_id=post.id)}}" title="Read More"
          ><i class="fab fa-readme" aria-hidden="true"></i>
        </a>
      </div>
      <!-- ======== -->

      <!-- Post images container -->
      <p class="post-write-up">{{ post.post }}</p>
      {% if post.post_images %}
      <div class="post-imgs-div">
        {% for image in post.post_images %}
        <img
          src="{{url_for('static', filename=image)}}"
          alt="{{image}}"
          class="post-imgs"
        />
        {% endfor %}
      </div>
      {% endif %}
      <!-- ===== -->

      <!-- Likes and comments -->
      <div class="lkes-and-comments-container">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
            {{total_like[loop.index - 1]}} {% if total_like[loop.index - 1] > 1
            %} Likes {%else %} Like {%endif%}</span
          ></span
        >
      </div>
      <!-- ======== -->
    </div>
  </div>
  {%endfor %} {%else%}
  <div><em>No post.</em></div>
  {% endif %}
</div>
<!-- Preview Image -->
<div class="preview-user-image">
  <i class="fa fa-remove stop-preview" aria-hidden="true"></i>
  <img
  src="data:image/{{user.image_fmt}};base64,{{user.image}}"
  alt="{{user.username}}{{cache_id}}"
  id="img-previewing"
  />
</div>



<div class="show-hide-profile">
  <p>Full Name: <strong>{{user.full_name}}</strong></p>
  <p>Username: <strong>{{user.username}}</strong></p>
  <p>Email: <strong>{{user.email}}</strong></p>
  <p>Gender: <strong>{{user.gender}}</strong></p>
  <button type="button" id='view-user-profile'>OK</button>
</div>
{% endblock content %}
