<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/page_not_found.css" />
    <title>TalkIT | Page not found</title>
  </head>
  <body>
      <div id="bg-404">404</div>
    <div id="p-404-container">
      <h1>TalkIT</h1>
      <div id="p-is-not-found">
          <h4>PAGE IS NOT FOUND</h4>
          <h2>404</h2>

      </div>
    </div>
  </body>
</html>
