{% extends "layout.html" %} {% block content %}
<link href="../static/styles/read_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/my_post.css?{{cache_id}}" rel="stylesheet" />
<link href="../static/styles/layout.css?{{cache_id}}" rel="stylesheet" />
<script>
  window.onload = () => {
    $("#delete-question-btn").on("click", () => {
      return confirm("Are you sure on deleting this comment?") ? true : false;
    });
  };
</script>
<div id="read-post-container">
  <article>
    <h1>{{ post.title}}</h1>
    <p>{{ post.question }}</p>
  </article>
</div>
<div id="comments-container">
  {% if comments %}
  <h3>Comment(s)</h3>
  {% for (user, comment) in comments %}
  <div id="comment-div">
    <img
      src="data:image/{{user.image_fmt}};base64,{{user.image}}"
      alt="user-image"
      id="user-img"
    />
    <div id="user-comments">
      <strong>{{user.username}}</strong>
      <p>{{comment.comment}}</p>
    </div>
  </div>
  <!--  Comment options -->
  <div id="comment-options">
    <small>{{comment.created_at}}</small>
    {% if comment.user_id == user_id %}
    <a href="{{url_for('edit_comment', answer_id=comment.id)}}">Edit</a>
    <a
      id="delete-question-btn"
      href="{{url_for('delete_comment', comment_id=comment.id)}}"
      style='color:red'>Delete</a
    >
    {% endif %}
  </div>

  {% endfor %} {% else %}
  <p style="text-align: center">
    <i>No comments. Be the first person to comment!</i>
  </p>
  {% endif %}
</div>

<div class="comment-box-form">
  <form
    action="{{url_for('read_post', question_id=question_id)}}"
    ,
    id="comment-form"
    method="post"
  >
    {{ comment_form.hidden_tag() }} {{ comment_form.comment}} {{
    comment_form.submit_comment}}
  </form>
</div>

{% endblock %}
