{% extends "layout.html" %} {% block content %}
<link href="../static/styles/read_post.css?{{cache_id}}" rel="stylesheet" />

<script src="../static/scripts/readPost.js"></script>
<div id="read-post-container">
  <article>
    <h2 id="post-title">{{ post.title}}</h2>
    <p id="post-question" class="post-write-up">{{ post.question }}</p>

    <!-- Post images container -->
    {% if post.post_images %}
    <div class="post-imgs-div">
      {% for image in post.post_images %}
      <img
        src="{{url_for('static', filename=image)}}"
        alt="{{image}}"
        class="post-imgs"
      />
      {% endfor %}
    </div>
    {% endif %}
    <!-- ===== -->
    <div id="lkes-and-comments-container">
      <span>
        <i class="fa fa-comment" aria-hidden="true"></i> {{total_comment}}</span
      >
      <form
        action="{{url_for('read_post', question_id=post.id)}}"
        method="post"
        name="like"
        ,
        id="like"
      >
        {{like.hidden_tag()}}
        <label for="like-btn">
          <i
            class="far fa-thumbs-up"
            aria-hidden="true"
            style="color: {% if post.has_liked %}
          blue {% else %} black {% endif %};"
          ></i>
        </label>
        <span>{{like.like}} {{post.likes}}<span>
      </form>
      <i class="fa fa-share-alt" aria-hidden="true" id="share-post"></i>
    </div>
  </article>
</div>

<!-- Comments -->
<div id="comments-container">
  {% if comments %}
  <h3>Comment(s)</h3>
  {% for (user, comment) in comments %}
  <div id="comment-div">
    <img
      src="data:image/{{user.image_fmt}};base64,{{user.image}}"
      alt="user-image"
      id="user-img"
    />
    <div class="user-comments">
      <a
        href="{{url_for('other_user_profile', other_user_username=user.username)}}"
        ><strong class='user-username'>{{user.username}}</strong>
      </a>
      <p id="post-comment" class="post-write-up">{{comment.comment}}</p>
    </div>
  </div>
  <!--  Comment options -->
  <div id="comment-options">
    <span>{{time_created[loop.index - 1]}}</span>
    {% if comment.user_id == user_id %}
    <a href="{{url_for('edit_comment', answer_id=comment.id)}}">Edit</a>
    <a
      class="delete-question-btn"
      href="{{url_for('delete_comment', comment_id=comment.id)}}"
      style="color: red"
      >Delete</a
    >
    {% endif %}
  </div>

  {% endfor %} {% else %}
  <p style="text-align: center">
    <i>No comments. Be the first person to comment!</i>
  </p>
  {% endif %}

  <div class="comment-box-form">
    <form
      action="{{url_for('read_post', question_id=question_id)}}"
      ,
      id="comment-form"
      method="post"
    >
      {{ comment_form.hidden_tag() }} {{ comment_form.comment}}
      <label id="submit-comment-label" for="submit-comment"
        ><i class="fa fa-paper-plane" aria-hidden="true"></i
      ></label>
      {{ comment_form.submit_comment}}
    </form>
  </div>
</div>

<!-- Preview Image -->
<div id="preview-image">
  <i class="fa fa-arrow-alt-circle-left" aria-hidden="true" id="back-arrow"></i>
  <img src="" alt="" />
  <div id="prev-next">
    <i class="fa fa-chevron-circle-left" aria-hidden="true" id="prev"></i>
    <i class="fa fa-chevron-circle-right" aria-hidden="true" id="next"></i>
  </div>
</div>

<!-- Share Container-->
<div id="share-outer-div"></div>
<div id="share-container">
  <h1><i class="fa fa-share-alt" aria-hidden="true"></i> Share</h1>
  <p><i class="fa fa-link" aria-hidden="true"></i> {{post.title}}</p>
  <div>
    <a target="_blank" href=""
      ><i class="fab fa-facebook-square" aria-hidden="true"></i
      ><span>Facebook</span></a
    >
    <a target="_blank" href=""
      ><i class="fab fa-twitter-square" aria-hidden="true"></i
      ><span>Twitter</span></a
    >
    <a target="_blank" href=""
      ><i class="fab fa-whatsapp" aria-hidden="true"></i
      ><span>WhatsApp</span></a
    >
    <a target="_blank" href=""
      ><i class="fab fa-telegram" aria-hidden="true"></i
      ><span>Telegram</span></a
    >
    <a target="_blank" href="">
      <i class="fab fa-linkedin" aria-hidden="true"></i><span>Linkedin</span></a
    >
  </div>
</div>
{% endblock %}
