{% extends "layout.html" %} {% block content %}
<link href="../static/styles/read_post.css?{{cache_id}}" rel="stylesheet" />
<link rel="stylesheet" href="../static/jssocials-1.4.0/dist/jssocials.css" />
<link
  rel="stylesheet"
  href="../static/jssocials-1.4.0/dist/jssocials-theme-classic.css"
/>
<script src="../static/jssocials-1.4.0/dist/jssocials.min.js"></script>

<script src="../static/scripts/readPost.js"></script>
<div id="read-post-container">
  <article>
    <h2 id="post-title">{{ post.title}}</h2>
    <p id='post-question'>{{ post.question }}</p>
    <div id="lkes-and-comments-container">
      <span>
        <i class="fa fa-comment" aria-hidden="true"></i> {{total_comment}}</span
      >
      <form
      action="{{url_for('read_post', question_id=post.id)}}"
      method="post"
      name="like"
      ,
      id="like"
      >
      {{like.hidden_tag()}}
      <label for="like-btn">
        <i
        class="far fa-thumbs-up"
        aria-hidden="true"
        style="color: {% if post.has_liked %}
          blue {% else %} black {% endif %};"
          ></i>
        </label>
        {{like.like}} {{post.likes}}
      </form>
    </div>
  </article>
  <div id="live"></div>
</div>

<!-- Comments -->
<div id="comments-container">
  {% if comments %}
  <h3>Comment(s)</h3>
  {% for (user, comment) in comments %}
  <div id="comment-div">
    <img
      src="data:image/{{user.image_fmt}};base64,{{user.image}}"
      alt="user-image"
      id="user-img"
    />
    <div class="user-comments">
      <strong>{{user.username}}</strong>
      <p id="post-comment">{{comment.comment}}</p>
    </div>
  </div>
  <!--  Comment options -->
  <div id="comment-options">
    <small>{{comment.created_at}}</small>
    {% if comment.user_id == user_id %}
    <a href="{{url_for('edit_comment', answer_id=comment.id)}}">Edit</a>
    <a
      class="delete-question-btn"
      href="{{url_for('delete_comment', comment_id=comment.id)}}"
      style="color: red"
      >Delete</a
    >
    {% endif %}
  </div>

  {% endfor %} {% else %}
  <p style="text-align: center">
    <i>No comments. Be the first person to comment!</i>
  </p>
  {% endif %}
</div>

<div class="comment-box-form">
  <form
    action="{{url_for('read_post', question_id=question_id)}}"
    ,
    id="comment-form"
    method="post"
  >
    {{ comment_form.hidden_tag() }} {{ comment_form.comment}}
    <label id="submit-comment-label" for="submit-comment"
      ><i class="fa fa-paper-plane" aria-hidden="true"></i
    ></label>
    {{ comment_form.submit_comment}}
  </form>
</div>

{% endblock %}
