{% extends "log_reg_layout.html" %} {% block content %}
<link href="../static/styles/common.css?{{cache_id}}" rel="stylesheet" />
<!-- <link href="../static/styles/layout.css?{{cache_id}}" rel="stylesheet" /> -->
<link href="../static/styles/register.css?{{cache_id}}" rel="stylesheet" />
<script
  type="module"
  src="../static/scripts/register.js?{{cache_id}}"
  defer
></script>

<div id="account-success">
  {% with messages = get_flashed_messages() %} {% if messages %}
  <span id="flash-message">{{messages[0]}}</span>
  {% endif %} {% endwith %}
</div>

<div class="container">
  <h3>Talk-IT Registration</h3>

  <!-- Registration Form -->
  <form
    id="register-form"
    action="{{ url_for('register') }}"
    method="POST"
    enctype="application/x-www-form-urlencoded"
  >
    {{ register.hidden_tag() }}
    <!-- Fullname -->
    <div class="register_field fullname">
      <i class="fa-regular fa-user-circle" aria-hidden="true"></i>
      {{register.full_name }}
    </div>
    <!-- Username -->
    <div class="register_field username">
      <i class="fa-solid fa-user" aria-hidden="true"></i> {{ register.username
      }}
      <!-- Handling Username error -->
      {% if register.errors.username %}
      <p class="registration-form-error">{{register.errors.username[0]}}</p>
      {% endif %}
    </div>
    <!-- Email -->
    <div class="register_field email">
      <i class="fa-solid fa-at" aria-hidden="true"></i> {{ register.email }}
      <!-- Handling email error -->
      {% if register.errors.email %}
      <p class="registration-form-error">{{register.errors.email[0]}}</p>
      {% endif %}
    </div>
    <!-- Password -->
    <div class="register_field password">
      <i class="fa-solid fa-key" aria-hidden="true"></i> {{ register.password }}
      <i
        class="fa-solid fa-eye-slash"
        id="pwd-show"
        aria-hidden="true"
        style="color: black"
      ></i>
    </div>

    <!-- Confirm Password -->
    <div class="register_field confirm_password">
      <i class="fa-solid fa-key" aria-hidden="true"></i> {{
      register.confirm_password }}
      <i
        class="fa-solid fa-eye-slash"
        aria-hidden="true"
        id="c-pwd-shown"
        style="color: black"
      ></i>
      <!-- Handling password error -->
      {% if register.errors.confirm_password %}
      <p class="registration-form-error">
        {{register.errors.confirm_password[0]}}
      </p>
      {% endif %}
    </div>

    <!-- Gender -->
    <div class="register_field gender">
      <label id="gender">Gender:</label> {{ register.gender }}
    </div>

    <!-- Sign Up -->
    <div class="register_field">{{ register.signup }}</div>
    <span id="goto-signup-page">
      Already have account? <a href="{{ url_for('login') }}">Sign In</a>
    </span>
  </form>
</div>
{% endblock content %}
