{% extends "log_reg_layout.html" %} {% block content %}
<link href="../static/styles/common.css" rel="stylesheet" />
<link href="../static/styles/register.css" rel="stylesheet" />
<script
  type="module"
  src="../static/scripts/register.js?{{cache_id}}"
  defer
></script>
<style>
  .container {
    display: grid;
    place-content: center;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
</style>
<div class="container">
  <div id="account-success">
  </div>
  <h3>Reset Your Password</h3>
  <form action="{{url_for('reset_token', token=token)}}" method="post">
    {{form.hidden_tag()}}

    <!-- Password -->
    <div class="register_field password">
      <i class="fa-solid fa-key" aria-hidden="true"></i> {{ form.password }}
      <i
        class="fa-solid fa-eye-slash"
        id="pwd-show"
        aria-hidden="true"
        style="color: black"
      ></i>
    </div>

    <!-- Confirm Password -->
    <div class="register_field confirm_password">
      <i class="fa-solid fa-key" aria-hidden="true"></i> {{
      form.confirm_password }}
      <i
        class="fa-solid fa-eye-slash"
        aria-hidden="true"
        id="c-pwd-shown"
        style="color: black"
      ></i>

      <!-- Handling password error -->
      {% if form.errors.confirm_password %}
      <p class="registration-form-error">{{form.errors.confirm_password[0]}}</p>
      {% endif %}
    </div>
    {{form.submit}}
  </form>
</div>
{% endblock content %}
