{% extends "log_reg_layout.html" %} {% block content %}
<link href="../static/styles/common.css" rel="stylesheet" />
<link href="../static/styles/register.css" rel="stylesheet" />
<style>
  .container {
    display: grid;
    place-content: center;
  }
  input[type="submit"] {
    font-size: large;
  }
  body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }
  h3 {
    text-align: center;
  }
</style>
<div class="container">
  <h3>Request Password Resetting</h3>
  <form action="{{url_for('reset_request')}}" method="post">
    {{form.hidden_tag()}}
    <div class="register_field email">
      <i class="fa-solid fa-at" aria-hidden="true"></i>
      {{form.email}} {% if form.errors %}
      <p class="registration-form-error">{{form.errors.email[0]}}</p>
      {% endif %}
    </div>
    {{form.submit}}
  </form>
</div>
{% endblock content %}
